@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(40, 46, 42);
}

body, html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

